# Dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
bun.lockb
package-lock.json

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.cache/
coverage/
*.ntvs*
*.njsproj
*.sln
*.sw?
